name: Auto Merge Dependency Updates
on:
  pull_request_target:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Auto Merge Dependabot Updates
        uses: buluma/gh-action-auto-merge-dependabot-updates@1.0.8
        with:
          allowed-actors: dependabot-preview[bot], dependabot[bot]
          repo-token: ${{ github.token }}
          approve: true
          merge: true
