name: Update README with Recent Activity

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Update recent activity
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: https://github.com/Ven0m0.atom
          max_post_count: 3
          readme_path: ./README.md
          comment_tag_name: activity
          commit_message: "chore(readme): update recent activity"
          template: "- [$title]($url)$newline"
          date_format: d/m/yy
